<section id="project">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2><%= @project.title %></h2>
				<p class="date"><%= @project.created_at.strftime("%A, %b, %d") %></p>
        <hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="article">
					<%= markdown @project.description%>										
				</div>
				<div class="project-link">
					<a href="<%= @project.link %>" class="btn btn-lg btn-outline" target="_blank">Visit <%= @project.title %></a>
				</div>
				<% if user_signed_in? %>
					<div class="admin-links">
						<%= link_to "Edit", edit_project_path(@project) %>
						<%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure?" } %>
					</div>
				<% end %>
			</div>			
		</div>
	</div>
</section>